/* Light Theme
.theme-light {
  background-color: #f8f9fa;
  color: #212529;
}

.theme-dark {
  background-color: #121212;
  color: #f8f9fa;
}

.theme-dark .card,
.theme-dark .bg-white {
  background-color: #1e1e1e !important;
  color: #f8f9fa !important;
  border-color: #333 !important;
}

.theme-dark .nav-link {
  color: #f8f9fa !important;
}

.theme-dark .nav-link.active {
  color: #0d6efd !important;
} */
